.mainHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2px;
}


*, *:after, *:before {
    box-sizing: border-box;
}

.mainContainer{
    width: 86vw;
    background-color: #f6f6ef;
}


@media (max-width: 750px) {
    body {
        margin: 0;
    }
    .main {
        width: 100vw;
    }
    .header-menu .brand {
        flex: 1 1 100%;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 9pt;
    }
    .sn {
        flex: 0 0 30px;
        width: 26px;
    }
}

.graphWrapper {
    width: 100%;
    margin: 0 auto;
}
  
.graph {
    height: 200px;
    width: 100%;
    border-bottom: 2px solid #ff6610;
}

.pagination {
    padding: 1rem 2rem;
    width: 100%;
    text-align: right;
}